@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-thin.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-thin.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-thinitalic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-thinitalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-extralight.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-extralight.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-extralightitalic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-extralightitalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-light.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-light.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-lightitalic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-lightitalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-regular.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-regular.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-italic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-medium.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-medium.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-mediumitalic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-mediumitalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-semibold.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-semibold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/_assets/fonts/inter/iInter-semibolditalic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-semibolditalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-bold.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-bold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-bolditalic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-bolditalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-extrabold.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-extrabold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-extrabolditalic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-extrabolditalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-black.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-black.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/_assets/fonts/inter/inter-blackitalic.woff2?v=3.13") format("woff2"),
       url("/_assets/fonts/inter/inter-blackitalic.woff?v=3.13") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'regular';
  src: url("/_assets/fonts/inter/inter-roman.var.woff2?v=3.13") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'italic';
  src: url("/_assets/fonts/inter/inter-italic.var.woff2?v=3.13") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/_assets/fonts/inter/inter.var.woff2?v=3.13") format("woff2");
}
