
/*  Setup for Mimix Icon Font */
@font-face {
  font-family: 'mimix';
  src:
    url('/_assets/fonts/mimix/mimix.ttf') format('truetype'),
    url('/_assets/fonts/mimix/mimix.woff') format('woff'),
    url('/_assets/fonts/mimix/mimix.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/*  Define <i class="mx"> */
i.mx {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mimix' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

}

/*  Define individual icons */
.mx-Mimix-Logo:before {
  content: "\e907";
}
.mx-Miki-Wordmark:before {
  content: "\e902";
}
.mx-MCenter-Logo:before {
  content: "\e901";
}
.mx-MConcierge-Logo:before {
  content: "\e903";
}
.mx-Miki-Logo:before {
  content: "\e904";
}
.mx-MSL-Logo:before {
  content: "\e900";
}
.mx-Mimix-Gear-Logo:before {
  content: "\e905";
}
.mx-Windows:before {
  content: "\e906";
}
.mx-Mac:before {
  content: "\e908";
}
.mx-Linux:before {
  content: "\e909";
}


/*  Hide TOC */
div .flex.page-col-sd.lg3.xl2 {
  display: none
}

div .container.grey.pa-0.container--fluid.lighten-4 {
  display: none
}

/*  Hide external link arrow icon */
.v-main .contents a.is-external-link::after {
  display: none
}

/*  Hide underline style on links */
a {
  text-decoration: none
}

/*  Hide page header and title */
header.v-sheet.theme--light.v-toolbar.v-toolbar--dense.v-toolbar--flat.grey.lighten-3 {
  display: none
}

/*  Setup for two-link link lists w/ icons */
ul.links-list i.v-icon {
  width: 35px;
  margin-top: -20px
}

/* Change navigation background color */
.v-application .primary {
    background-color: #ec2028 !important;
    border-color: #ec2028 !important;
}
